name: Build
on: push
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Buildozer
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          buildozer_version: master
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: my-app
          path: bin/*.apk
          
