name: Build
on: push
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Buildozer
        uses: ArtemSerebrennkov/Buildozer-Action@v1
        with:
          buildozer_version: master
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: my-app
          path: bin/*.apk
